
input[type="text"] {
	width: 90%;
}
#crawlerFormContainer{
	margin-top: 40px;
}

#resultsContainer {
	margin-top: 50px;
}

#startCrawlerBtn {
	margin-top: 10px;
}

.form-error-message {
	display: none;
	border-radius: 2px;
	padding-top: 2px;
	padding-left: 10px;
	width: 60%;
	height: 25px;
	box-shadow: 0 0 1px #eee;
}

.centerContainer {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}




